[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-filter = "*"
django-ordered-model = "*"
django-singleton = "*"
django-crispy-forms = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.10"
