{% load static %}

  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

   <a href="{% url 'home-page' %}" class="logo"><img src="{% static 'images/logo.png' %}" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          {% if LANGUAGE_CODE == 'ar' %}
          <li><a class="nav-link scrollto" href="{% url 'home-page' %}">الرئيسية</a></li>
          <li><a class="nav-link scrollto" href="{% url 'about-page' %}">عن الشركة</a></li>
          <li><a class="nav-link scrollto" href="{% url 'contact-page' %}">إتصل بنا</a></li>
          {% else %}
          <li><a class="nav-link scrollto" href="{% url 'home-page' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'about-page' %}"> About</a></li>
          <li><a class="nav-link scrollto" href="{% url 'contact-page' %}"> Contact Us</a></li>

          {% endif %}
          {% include 'partials/_language.html' %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


    </div>
  </header>