{% extends 'main.html' %}
{% load static %}

{% block title %}  إتصل بنا {% endblock title %}


{% block body %}
  <section id="contact_hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          {% if LANGUAGE_CODE == 'ar' %}
          <h1 class="text-white">حلول رقمية قوية<span>.</span></h1>
          <h2 class="text-white">نحن فريق من المبرمجين الرقميين الموهوبين</h2>
          {% else %}
          <h1 class="text-white">Digital Solutions<span>.</span></h1>
          <h2 class="text-white">We Are A Team Of Talented specialist</h2>
          {% endif %}
        </div>
      </div>

    </div>
  </section>

    <section id="contact" class="contact">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          {% if LANGUAGE_CODE == 'ar' %}
          <h2>إتصل بنا</h2>
          {% else %}
          <h2>Contact Us</h2>
          {% endif %}
        </div>



        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                {% if LANGUAGE_CODE == 'ar' %}
                <h4>موقعنا</h4>
                <p>المملكة العربية السعودية</p>
                {% else %}
                <h4>Location</h4>
                <p>Saudia Arabia</p>
                {% endif %}
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                {% if LANGUAGE_CODE == 'ar' %}
                <h4>البريد الألكترونى</h4>
                <p>info@example.com</p>
                {% else %}
                <h4>Email </h4>
                <p>info@example.com</p>
                {% endif %}
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                {% if LANGUAGE_CODE == 'ar' %}
                <h4>الهاتف</h4>
                <p>+1 5589 55488 55s</p>
                {% else %}
                <h4>Phone</h4>
                <p>+1 5589 55488 55s</p>
                {% endif %}
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form method="post" role="form">
                {% csrf_token %}
                {% if LANGUAGE_CODE == 'ar' %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="الأسم" required="">
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="البريد الألكترونى" required="">
                </div>
              </div>

              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="الرسالة" required=""></textarea>
              </div>

              <div class="text-center"><button class="btn btn_yellow btn-lg" type="submit">إرسال</button></div>
              {% else %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="NAME" required="">
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="EMAIL ADDRESS " required="">
                </div>
              </div>

              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="MESSAGE" required=""></textarea>
              </div>

              <div class="text-center"><button class="btn btn_yellow btn-lg" type="submit">SEND</button></div>


              {% endif %}
            </form>

          </div>

        </div>

      </div>
    </section>



{% endblock body %}